{% extends "informer\index.html" %}
{% load compress %}
{% load i18n %}

{% block title %}{% trans 'Восстановление пароля отправлено' %}{% endblock %}

{% block content %}
      <!-- =-=-=-=-=-=-= Transparent Breadcrumb =-=-=-=-=-=-= -->
      <div class="page-header-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="header-page">
                     <h1>{% trans 'Вам отправлено письмо' %}</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <div class="main-content-area clearfix">
         <!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
         <section class="section-padding error-page pattern-bg ">
            <!-- Main Container -->
            <div class="container">
               <!-- Row -->
               <div class="row">
                  <!-- Middle Content Area -->
                  <div class="col-md-5 col-md-push-7 col-sm-6 col-xs-12">
                     <!--  Form -->
                    <p>{% blocktrans with ago=timestamp|timesince %}Восстановление пароля отправлено на <strong>{{ email }}</strong> {{ ago }} назад. Используйте ссылку в нем, чтобы установить новый пароль.{% endblocktrans %}</p>
                     <!-- Form -->
                  </div>
                  <div class="col-md-7  col-md-pull-5  col-xs-12 col-sm-6">
                     <div class="heading-panel">
                        <h3 class="main-title text-left">
                           {% trans 'Восстановление пароля' %}   
                        </h3>
                     </div>
                     <div class="content-info">
                        <div class="features">
                           <div class="features-icons">
                              <img src="/static/images/icons/respass_st1.png" alt="img">
                           </div>
                           <div class="features-text">
                              <h3>{% trans 'Зайдите на свою почту указанную при регистрации' %}</h3>
                              <p>
                                 {% trans 'Нажмите на ссылку в сообщении' %}
                              </p>
                           </div>
                        </div>
                        <div class="features">
                           <div class="features-icons">
                              <img src="/static/images/icons/respass_st2.png" alt="img">
                           </div>
                           <div class="features-text">
                              <h3>{% trans 'Следуйте дальнейщим инструкциям' %}</h3>
                              <p>
                                 {% trans 'Мы рады что вы помните о нас!' %}
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Middle Content Area  End -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Main Container End -->
         </section>
      </div>    
{% endblock %}
