*.pyc
__pycache__
myvenv
db.sqlite3
.DS_Store
.komodotools
MyProject.komodoproject
.cache
*.log
.bashrc
.joe_state
.local/
.profile
.python_history
.pythonstartup.py
.vimrc
.virtualenvs/
.static/media/
README.txt