{% extends "informer/base.html" %}
{% load i18n %}

{% block title %}{% trans "Comment requires approval." %}{% endblock %}

{% block header %}
<a href="{% url 'homepage' %}">{{ block.super }}</a> -
<a href="{% url 'blog:post_list' %}">Blog</a>
{% endblock %}

{% block content %}
<h4 class="text-center">{% trans "Comment in moderation" %}</h4>
<p class="text-center">
{% blocktrans %}Your comment has to be reviewed before approbal.<br/>
  It has been put automatically in moderation.<br/>
  Thank you for your patience and understanding.{% endblocktrans %}
</p>
{% endblock %}