{% extends "informer/base.html" %}
{% load i18n %}
{% block content %}
   <!-- =-=-=-=-=-=-= Transparent Breadcrumb =-=-=-=-=-=-= -->
   <div class="page-header-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="header-page">
                   <h1>{% trans 'Благодарим за участие' %}</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-content-area clearfix"><!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <section class="section-padding error-page pattern-bg "><!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
         <div class="container"><!-- Main Container -->
            <div class="row"><!-- Row -->
               <div class="col-md-5 col-md-push-7 col-sm-6 col-xs-12"><!-- Middle Content Area -->
                  <div class="form-grid ad-archive-desc box-shadow"><!--  Form -->
                     <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success margin-bottom-10 box-shadow btn-lg btn-block">{{ block.super }}{% trans 'Продолжить читать новости' %}</a>
                     <a href="{% url 'index' %}" class="btn btn-success margin-bottom-10 box-shadow btn-lg btn-block">{% trans 'Перейти на главную' %}</a>
                  </div><!-- Form -->
               </div><!-- Middle Content Area -->
               <div class="col-md-7  col-md-pull-5  col-xs-12 col-sm-6">
                  <div class="heading-panel">
                     <h3 class="main-title text-left">
                        {% trans 'Thanks for commenting' %}!   
                     </h3>
                  </div>
                  <div class="content-info">
                     <div class="features">
                        <div class="features-icons">
                           <img src="/static/images/icons/smile.png" alt="img">
                        </div>
                        <div class="features-text">
                           <h3>{% trans 'Ваш комментарий успешно сохранен в системе' %}</h3>
                              <p>
                              {% if not user.is_authenticated %}
                                 {% trans "Comment confirmation requested." %}
                                 {% blocktrans %}A confirmation message has been sent to your
                                 email address. Please, click on the link in the message to confirm
                                 your comment.{% endblocktrans %}
                              {% endif %}
                              {% trans 'Вы можете продолжить читать новости нажав кнопку справа.' %}</p>
                        </div>
                     </div>
                  </div>
               </div>
               </div><!-- Row -->
         </div><!-- Main Container -->
      </section>
   </div><!-- Main Container End -->
{% endblock %}
