{% extends "informer/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block content %}

		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="header-page">
                            <h1>{% trans 'Ваши карточки контактов' %}</h1>
                        </div>                        
					</div>
				</div>
			</div>
		</div>
		
		<script>
		require(['dojo/request',
				 'dojo/dom',
				 'dojo/store/Memory',
				 'dojo/data/ObjectStore',
				 'dojox/grid/DataGrid',
				 'dojox/grid/cells',
				 'dojox/math/round',
				 'dojo/date/locale',
				 'dojo/date/stamp',
				 'dojo/_base/array',
				 'dojo/_base/lang',				 
				 'dojox/grid/_CheckBoxSelector',
				 'dojo/parser',
				 'dijit/layout/ContentPane',
				 'dijit/form/Button',
				 'dojo/domReady!'],
				function(request, dom, Memory, ObjectStore, DataGrid, gridCells, mathRound, DateLocale, DateStamp, baseArray, lang, _CheckBoxSelector, parser){
	
					request("vcard-list.json", { handleAs: "json" }).then(function(data){
						var store = new Memory({ data: data, idProperty: "uid" });
	
						test_store = new ObjectStore({objectStore: store});
						
						var cells = [
							[
								new gridCells.RowIndex({ name: "№", width: "3%" }),
								{ name: get_filed_name("label"), field: "label", width: "15%" },
								{ name: get_filed_name("status"), field: "status", width: "10%" },
								{ name: get_filed_name("created"), field: "created", width: "10%",
									formatter: function(field){
									  datetame = DateStamp.fromISOString(field);
									  lf = DateLocale.format(datetame, {formatLength: "short", locale: dojoConfig.locale});
									  return lf;
									}
								},
								{ name: get_filed_name("revision"), field: "revision", width: "10%",
									formatter: function(field){
									  datetame = DateStamp.fromISOString(field);
									  lf = DateLocale.format(datetame, {formatLength: "short", locale: dojoConfig.locale});
									  return lf;
									}
								},
								{ name: get_filed_name("secure"), field: "secure", width: "11%" },
								{ name: get_filed_name("note"), field: "note", width: "10%" },
								{ name: get_filed_name("start"), field: "start", width: "10%",
									formatter: function(field){
									  var lf = '-';
									  if (field !== null) {
										  datetame = DateStamp.fromISOString(field);
										  lf = DateLocale.format(datetame, {formatLength: "short", locale: dojoConfig.locale});
									  }
									  return lf;
									}
								},							
								{ name: get_filed_name("end"), field: "end", width: "10%",
									formatter: function(field){
									  var lf = '-';
									  if (field !== null) {
										  datetame = DateStamp.fromISOString(field);
										  lf = DateLocale.format(datetame, {formatLength: "short", locale: dojoConfig.locale});
									  }
									  return lf;
									}
								  }
							]
						];
				
						gridLayout = [{
							type: "dojox.grid._CheckBoxSelector",
							"class": "dojoxGridCell dojoDndItem",
						},
							cells
						];						
						
						function get_filed_name(field_key) {
							if (Object.keys(store.data).length===0) {
								return field_key;
							}
							verbose_item = store.data[0];
							verbose_name = verbose_item.fields_verbose_name[field_key];
							return verbose_name;
						}
						
						var grid = new DataGrid({
							"class": "grid",
							store: test_store,
							query: { uid: "*" },
							structure: gridLayout, }, "grid");
	
						grid.startup();
	
						//grid.on("RowClick", function(evt){
						//	var idx = evt.rowIndex,
						//			rowData = grid.getItem(idx);
						//	document.getElementById("results").innerHTML =
						//			"You have clicked on " + rowData.last + ", " + rowData.first + ".";
						//}, true);
						function reportSelection(node){
							var items = this.selection.getSelected();
							var tmp = baseArray.map(items, function(item){
								return item.uid;
							}, this);
							var msg = "You have selected row" + ((tmp.length > 1) ? "s ": " ");
							node.innerHTML = msg + tmp.join(", ");
						}
						
						grid.on("SelectionChanged",
								lang.hitch(grid, reportSelection, document.getElementById("results")), true);
					
					}, function(err){
						alert(err);
						});
					
		parser.parse(dom.byId('container')).then(function(){

		});					
					
					
				});
		</script>
		
		<div class="main-content-area "><!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
			<section class="section-padding error-page pattern-bg">
				<div  id="container" class="container tundra" ><!-- Main Container -->
					
					<div id="basicFormTab" data-dojo-type="dijit/layout/ContentPane">
						<button data-dojo-type="dijit/form/Button"
								data-dojo-props="iconClass:'dijitIconCopy', onClick:function(){ console.debug('clicked simple') }">
							{% trans 'Copy' %}
						</button>						
						<button data-dojo-type="dijit/form/Button"
								data-dojo-props="iconClass:'dijitIconDelete', onClick:function(){ console.debug('clicked simple') }">
							{% trans 'Delete' %}
						</button>
					</div>
					<div class="space-5"></div>
					<div id="grid" style="width: 100%; height: 610px;border: 1px solid #999;"></div>	
					<div id="results" class="results" style="height: 30px;border: 1px solid #999;"></div>				
				</div>						
			</section>
		</div>		
		
{% endblock %}
