{% extends "informer/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% block content %}
   <!-- =-=-=-=-=-=-= Transparent Breadcrumb =-=-=-=-=-=-= -->
   <div class="page-header-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
               <div class="header-page">
                  {# Translator: Перевести как Preview your comment #}
                  <h1>{% trans "Предварительный просмотр комментария" %}</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="main-content-area clearfix"><!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
      <section class="section-padding error-page pattern-bg "><!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
         <div class="container"><!-- Main Container -->
            <div class="row"><!-- Row -->
               <div class="col-md-6 col-md-push-6 col-sm-6 col-xs-12"><!-- Middle Content Area -->
               
                  <div class="heading-panel">
                     <h3 class="main-title text-left">
                        {% trans 'Исходный текст' %}:
                     </h3>
                  </div> 
                  <div class="form-grid ad-archive-desc box-shadow"><!--  Form -->
                     {% include "comments/form.html" %}
                  </div><!-- Form -->
                  
               </div><!-- Middle Content Area -->
               <div class="col-md-6  col-md-pull-6 col-sm-6 col-xs-12">
                  
                  <div class="heading-panel">
                     <h3 class="main-title text-left">
                        {% if not comment %}
                           {# Translators: Перевести как Empty comment #}
                           {% trans 'Пустой комментарий' %}
                        {% else %}
                           {% trans 'Ваш будущий комментарий' %}:
                        {% endif %}
                     </h3>
                  </div>
                  
                  <div class="form-grid ad-archive-desc box-shadow">
                     <ol class="comment-list">
                         <li class="comment">
                             <div class="comment-info">
                                 {% if user_id %}
                                   {{ user_id|xtd_comment_avatar }}
                                 {% else %}
                                   {{ user_email|xtd_comment_gravatar:90 }}
                                 {% endif %}                              
                                 <div class="author-desc">
                                     <div class="author-title">
                                         <strong>{{ form.cleaned_data.name }}</strong>
                                         <ul class="list-inline pull-right">
                                             <li><a>{% now "N j, Y, P" %}</a></li>
                                         </ul>
                                     </div>
                                     <p>{{ comment }}</p>
                                 </div>
                             </div>
                         </li>
                     </ol>
                  </div>
                  
               </div>
            </div><!-- Row -->
         </div><!-- Main Container -->
      </section>
   </div><!-- Main Container End -->
{% endblock %}